//Login
#root {
    background-image: linear-gradient(to right bottom, #70e1f5, #ffd194);
    height: 100vh;
    .Login {
        color: #ffffff;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 20px 0;
        margin: 100px 0 0 0;
        border: 1px solid #ffffff;
        box-shadow: 4px 5px 35px 4px #faf9f9;
        height: 350px;
        width: 300px;
        &__header {
            h2 {
                font-size: 35px;
                margin: 0 0 20px 0;
            }
        }
    }
    .form-group {
        margin: 0 0 20px 0;
        label {
            font-size: 20px;
            margin: 0 0 5px 0;
            display: block;
        }
        input {
            padding: 5px 0 5px 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            &:focus-visible {
                outline: none;
            }
        }
    }
    .btn {
        margin: 10px 0 0 0;
        padding: 5px 25px;
        transition: ease-in-out 0.5s;
        &:hover {
            color: #ffffff;
            background-color: #70e1f5;
            transition: ease-in-out 0.5s;
            box-shadow: 4px 5px 35px 4px #faf9f9;
        }
    }
    .header__left {
        .header__title {
            width: 100%;
            background: none;
            &::placeholder {
                color: #000;
                font-size: 20px;
            }
        }
        .header__title:focus-visible {
            outline: none;
        }
    }
    .header__countTime {
        padding: (20/16) +rem;
    }
}

.main {
    &__aside {
        min-height: 100vh;
        background-color: rgba(51, 51, 51, 0.2);
    }
    .info {
        &__img {
            border-radius: 50%;
            width: 30%;
            margin: (20 / 16)+rem;
        }
    }
    .nav {
        &__item {
            text-decoration: none;
            color: black;
        }
        button {
            background-color: rgba(51, 51, 51, 0);
            border: none;
            text-align: left;
            padding: 0px;
        }
    }
    .job {
        .myTask {
            button {
                background-color: white;
                border: none;
            }
            button:focus {
                outline: none;
                border: none;
            }
        }
    }
}

//Footer
.Footer {
    min-height: 3vh;
    background-color: rgba(51, 51, 51, 0.5);
}

// Dropdown-items
.dropdown {
    &:hover {
        cursor: pointer;
    }
    &-items {
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }
}