.searchBar {
   padding: 0.5rem 1.5rem;
   border: 0.1rem solid pink;
   border-radius: 2rem;
   margin-top: 3%;
   margin-bottom: 6%;
 }
 
 .search-icon {
   padding-right: 0.3rem;
   padding-top:0.1rem;
   color: black;
 }
 