.nav {
  list-style: none;
}

.nav li {
  border: 1px solid black;
  padding: 20px;
  width: 100px;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.nav li:focus {
  background-color: lightgray;
}

.header {
  background-color: lightgray;
  border: 1px solid black;
  font-weight: bold;
}
